<form class="todo-form">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="What needs to be done?"
      value="<%= todo && todo.title %>"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      rows="3"
      placeholder="Add details about this task..."
      ><%= todo && todo.description %></textarea>
    </textarea>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" name="status">
      <option value="PENDING" <%= todo && todo.status === "PENDING" ? 'selected' : '' %>>Pending</option>
      <option value="IN-PROGRESS" <%= todo && todo.status === "IN-PROGRESS" ? 'selected' : '' %>>In Progress</option>
      <option value="COMPLETED" <%= todo && todo.status === "COMPLETED" ? 'selected' : '' %>>Completed</option>
    </select>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select id="priority" name="priority">
      <option value="LOW" <%= todo && todo.priority === "LOW" ? 'selected' : '' %>>Low</option>
      <option value="MEDIUM" <%= todo && todo.priority === "MEDIUM" ? 'selected' : '' %>>Medium</option>
      <option value="HIGH" <%= todo && todo.priority === "HIGH" ? 'selected' : '' %>>High</option>
    </select>
  </div>
  <div class="form-actions">
    <div class="message-div">
      <p class="form-message"></p>
    </div>
    <% if (!todo) { %>
        <button type="button" id="btn-clear" class="btn btn-secondary">Clear</button>
    <% } %>
    <button type="submit" class="btn btn-primary">
        <%= todo ? 'Edit Todo' : 'Add Todo' %>
    </button>
  </div>
</form>
